<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="framework.report.TestListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="appl.tests.SpaceXTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
